<section class="container-fluid" id="AboutPage">
    <div class="row">
        <div class="col-lg-5 offset-lg-1" style="backdrop-filter: blur(3px);">
            <div class="AboutInfo">
                <h2 class="text-center more">Skills</h2>
                <hr>
                <ul>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;HTML5 | CSS | JS | TS</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Angular 8+ | NodeJS | ExpressJS</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;MongoDB v4+ | Python | MySQL</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Postman | JMeter | SoapUI</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Grafana | Prometheus | Docker</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;VS Code | Eclipse | IntelliJ</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5" style="backdrop-filter: blur(3px);">
            <div class="AboutInfo">
                <h2 class="text-center more">Certifications</h2>
                <hr>
                <ul>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Microsoft Certified AZ-900: Azure Fundamentals</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Microsoft Certified AZ-204: Cloud Developer Associate</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5 offset-lg-1" style="backdrop-filter: blur(3px);">
            <div class="AboutInfo">
                <h2 class="text-center more">Linguistic Proficiency</h2>
                <hr>
                <ul>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Kannada</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;English</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Telugu</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Hindi</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5" style="backdrop-filter: blur(3px);">
            <div class="AboutInfo">
                <h2 class="text-center more">More About Me&nbsp;<span class="fa fa-hand-o-down"></span></h2>
                <hr>
                <ul>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Constant hunger to learn new things</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Novel reader - Adventure, thriller</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Movies, Series and Ocassionally Games</li>
                    <li><span class="fa fa-hand-o-right"></span>&nbsp;Cricket, Badminton, Carrom, Chess</li>
                </ul>
            </div>
        </div>
    </div>
</section>
