#AboutPage{
    margin-top: 50px;
}

.AboutInfo{
    /* margin-left: 10%; */
    font-family: monospace;
}

.more{
    letter-spacing: 1px;
    color: rgb(199, 166, 229);
}

ul{
    list-style-type: none;
    color: rgb(255, 200, 80);
}

ul .fa-hand-o-right{
    color: rgb(199, 166, 229);
}