<section class="container-fluid" id="AboutPage">
    <div class="row">
        <div class="col-lg-5 offset-lg-1">
            <div class="AboutInfo">
                <h2 class="text-center more">Skills</h2>
                <hr>
                <ul>
                    <li>HTML5 | CSS | JS | TS</li>
                    <li>Angular 8+ | NodeJS | ExpressJS</li>
                    <li>MongoDB v4+ | Python | MySQL</li>
                    <li>Postman | JMeter | SoapUI</li>
                    <li>Grafana | Prometheus | Docker</li>
                    <li>VS Code | Eclipse | IntelliJ</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="AboutInfo">
                <h2 class="text-center more">Certifications</h2>
                <hr>
                <ul>
                    <li>Microsoft Certified AZ-900: Azure Fundamentals</li>
                    <li>Microsoft Certified AZ-204: Cloud Developer Associate</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5 offset-lg-1">
            <div class="AboutInfo">
                <h2 class="text-center more">Linguistic Proficiency</h2>
                <hr>
                <ul>
                    <li>Kannada</li>
                    <li>English</li>
                    <li>Telugu</li>
                    <li>Hindi</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="AboutInfo">
                <h2 class="text-center more">More About Me&nbsp;<span class="fa fa-hand-o-down"></span></h2>
                <hr>
                <ul>
                    <li>Constant hunger to learn new things</li>
                    <li>Novel reader - Adventure, thriller</li>
                    <li>Movies, Series and Ocassionally Games</li>
                    <li>Cricket, Badminton, Carrom, Chess</li>
                </ul>
            </div>
        </div>
    </div>
</section>
