<section class="container-fluid" id="AboutPage">
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="AboutInfo">
                <h2 class="text-center more">More About Me&nbsp;<span class="fa fa-hand-o-down"></span></h2>
                <hr>
                <ul>
                    <li>
                        <h4>Constant hunger to learn new things</h4>
                    </li>
                    <li>
                        <h4>Novel reader - Adventure, thriller</h4>
                    </li>
                    <li>
                        <h4>Movies, Series and Ocassionally Games</h4>
                    </li>
                    <li>
                        <h4>Cricket, Badminton, Carrom, Chess</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
