/* You can add global styles to this file, and also import other style files */

body{
    height: 100%;
    /* overflow-y: hidden; */
    background-image: radial-gradient(ellipse at center,#341b35 0%, #341b35 30%, #090A0F 100%);
    color: white !important;
    background-attachment: fixed;
}

.pointer{
    cursor: pointer;
}

:root{
    --small-stars: "";
    --med-stars: "";
    --large-stars: "";
}

#star {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-top: 25%;
    margin-left: 50%;
    background: transparent;
    animation: blink 0.5s linear infinite;  /* rotStar 200s linear infinite */
    box-shadow: var(--small-stars);
    z-index: -1;
    color: #ffffff;
}

#star1 {
    position: absolute;
    width: 2px;
    height: 2px;
    margin-top: 25%;
    margin-left: 50%;
    background: transparent;
    animation: blink 0.5s linear infinite; /* rotStar 200s linear infinite */
    box-shadow: var(--med-stars);
    z-index: -1;
}

.custom-nav{
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    min-height: 100px;
    backdrop-filter: blur(10px);
    /* margin-bottom: 20px; */
}

.navbar-brand {
    background: linear-gradient(to top, #22363f 5%, #ffffff 100%);
    background-clip: text;
    color: transparent !important;
    padding-left: 10px;
    animation: opaque 2s;
    font-size: xx-large !important;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.nav-texts {
    padding: 0.5rem 2rem;
    animation: opaque 2s;
    cursor: pointer;
    font-family: monospace;
    font-size: larger;
    color: transparent;
    background: linear-gradient(to top, #22363f 5%, #ffffff 100%);
    background-clip: text;
    text-decoration: none;
    transition: ease 0.5s;
}

.nav-texts:hover{
    color: white;
}

.card.carousel-card{
    background-color: rgba(255, 255, 255, 0.147) !important;
    text-align: justify;
    margin: 0 5px 0 5px;
    min-height: 300px;
    backdrop-filter: blur(3px);
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: #d400ff !important;
    border-radius: 50%;
    width: 0.5rem !important;
    height: 0.5rem;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button{
    background-color: #ffffff;
    border-radius: 50% !important;
    width: 1rem !important;
    height: 0.5rem !important;
}

.project-name{
    text-align: center;
    color: #df8fef;
    font-family: monospace;
    font-weight: bold;
}

@keyframes rotStar {
    100%{
        transform: rotateZ(360deg)
    }
}
@keyframes blink{
    50%{
        opacity: 0.6
    }
}
@keyframes opaque{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
}