<section class="container-fluid" id="HomePage">
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="AboutInfo">
                <h2 class="welcome">Hello&excl;&nbsp;Welcome to my Portfolio</h2>
                <h2>I am <span class="myName">Srikara B S</span></h2>
                <br>
                <h4 class="introtech"><span class="fa fa-hand-o-right"></span>&nbsp;Web Developer</h4>
                <h4 class="introtech"><span class="fa fa-hand-o-right"></span>&nbsp;A passionate MEAN full stack developer</h4>
                <h4 class="introtech"><span class="fa fa-hand-o-right"></span>&nbsp;AZ-900 and AZ-204 certified</h4>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="some">
                <img src="assets/images/pfp.jpg" alt="My photo" class="pfp">
            </div>
        </div>
    </div>
</section>